<!-- Content Header (Page header) -->
<section class="content-header">
  <h2>Log in KawalGizi</h2>
</section>

<section class="content">
  <!-- contoh posisi alert -->
  <% if @user.errors.any? %>
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h2><i class="icon fa fa-ban"></i><%= pluralize(@user.errors.count, "error") %> prohibited this changefrom being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </div>
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group has-feedback">
      <%= f.email_field :email, autofocus: false, class: 'form-control', placeholder: 'Email' %>
    </div>

    <div class="form-group has-feedback">
      <%= f.password_field :password, autofocus: false, class: 'form-control', placeholder: 'Password' %>
    </div>

    <div class="row">
      <div class="col-xs-8">
        <% if devise_mapping.rememberable? -%>
          <div class="checkbox icheck">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
      </div>
      <div class="col-xs-4">
        <%= f.submit "Log in", class: 'btn btn-primary btn-block btn-flat' %>
      </div>
    </div>
    <%= render "devise/shared/links" %>
  <% end %>
</section>