
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Login</title>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'admin' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/css/AdminLTE.css' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/css/skins/_all-skins.min.css' %>
</head>
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    KawalGizi
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <%= yield %>
  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->

<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/jQuery-slimScroll/1.3.8/jquery.slimscroll.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/fastclick/1.0.6/fastclick.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/js/app.min.js' %>
<%= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/admin-lte/2.3.8/js/demo.js' %>
</body>
</html>
